#bg-main {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/profile_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#bg-main nav {
    padding-top: 10vh;
    width: fit-content;
    margin-right: auto;
}

#bg-main h1 {
    color: rgb(255, 255, 255);
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 7px;
    font-size: 45px;
}

#bg-main p {
    margin-top: 40px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}